{% extends 'home/base.html' %}

{% block head %}
<title>Become a donor</title>
    <style>
      .form-control {
          width: 50vw;
      }

      .form-div{
          width: 60vw;
      }
      @media (max-width: 767px) { 
          .form-div{
              width: 90vw;
              margin-top: 15% !important;
          }
          .head-text{
            margin-top: 30%;
          }
      }
      .btn-outline-danger{
        border-color: rgb(255, 169, 183);
        
      }
      .btn-outline-danger:hover{
        background-color: rgb(15, 15, 15);
        border-color: rgb(17, 17, 17);
        color: rgb(248, 242, 242);


      }
      a{
        text-decoration: none;
        color: white;
      }
      .head-text{
        font-family: Oswald;
        letter-spacing: 2px;
        font-weight: 700;
        font-size: 4.5rem;
      }
      .head-text span{
      font-family:Oswald;
      font-size: 4.5rem;
      letter-spacing: 2px;
      font-weight: 700;
  color: #CA4246;
  
  }

  .subtext{
    font-family: Roboto;
    font-size: 1.5rem;
    font-style: italic;
  }

    </style>
    
{% endblock head %}
    

{% block content %}

<div class="container" style="margin-top: 10%;" >
   <h1 class="head-text">Become a <span>donor</span> today!</h1>
   <p class="lead subtext text-center">
    Be someone’s beacon of hope
   </p>
</div>

<div style=" margin-top: 3%;  background-color:  white; border-radius: 7px; padding: 5%; margin-bottom: 3%;" class="container form-div"  >
   
<form  method="POST">

    {% csrf_token %}
    <table>
    {{ form.as_p }}

    
 </table>

<!-- Button trigger modal -->
<a type="button" class="btn-donate " data-toggle="modal" data-target="#staticBackdrop">
    Terms and condition
</a>
  
  <!-- Modal -->
  <div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Terms and Conditions</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          1. I confirm that the information I provided in this document is accurate and true.
                  <br>
                  2. I confirm that I wish to share the information provided here to SOCIIO for the exclusive purpose of matching with patients and sharing this information directly and solely with the matched patients. (and/or kin)
                  <br>
                  3. I agree to not hold SOCIIO accountable for the use of information for the exclusive purpose(s) as stated above.        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
<br>
<hr>
<input type="submit" style="width: 45%;" class="btn btn-dark " value="Submit" />

</form>

</div>

{% endblock content %}
    

{% block scripts %}
  
{% endblock scripts %}
  