{% extends "home/base.html" %} {% block head %}
<style>
    button {
        background-color: rgb(255, 13, 106) !important;
        border: 2px solid white !important;
    }
    
    #id_email {
        padding: 2%;
        margin: 2%;
        border-radius: 7px;
        border: none;
        width: 80%;
    }
</style>{% endblock head %}{% block content %}


<div class="container" style="margin: auto; margin-top: 15%; margin-bottom: 15%;">
    <h1>To unsubscribe from our mailing list, please enter your email</h1>
    <form method="post" class="form-group text-center" style="margin-top: 10%;">
        {% csrf_token %} {{form}}
        <br>
        <button class="btn btn-info btn-small" type="submit">Unsubscribe</button>
    </form>
</div>
{% endblock content %}